*{
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
    color: white;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
h1 {
    font-family: Orbitron;
    font-size: 5rem;
}
h3 {
    font-family: Orbitron;
    font-size: 2.5rem;
}
h4 {
    font-family: Orbitron;
    font-size: 1rem;
}
h5 {
    font-family: Helvetica;
    font-size: 1rem;
}
p {
    font-size: 1rem;
}
/*--------- nav bar ---------*/
nav {
    position: fixed;
    z-index: +1;
    height: 50px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav .logo {
    flex: 0.49;
}
nav img {
    margin: 0px 10px;
    height: 20px;
    cursor: pointer;
}
nav ul {
    display: flex;
    flex-direction: row;   
}
nav ul a {
    margin: 0px 20px;
    color: white;
    transition: 0.5s; 
}
nav ul a:hover {
    color: rgb(255, 210, 0);
    font-size: 1rem;
}
/*---------*/
/*---------*/
/*---------*/
.main {
    width: 100%;
}
.home {
    height: 60rem;
    background-image: linear-gradient(#000,rgb(2, 2, 2));
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.square {
    position: relative;
    width: 580px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.square .circle {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    clip-path: circle(0px at center);
    transition: 0.5s;
    overflow: hidden;
}
.home:hover .circle {
    background-color: black;
    clip-path: circle(100% at center);
}
.square .intro {
    position: relative;
    top: 60%;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: 0.7s;
}
.home:hover .intro {
    
    opacity: 1;
    visibility: visible;
}
.square .intro h2 {
    color: rgb(255, 210, 0);
    margin: 10px 0px 20px 0px;
}

.square h1 {
    position: absolute;
    pointer-events: none;
    transition: 0.7s;
}
.home:hover h1 {
    font-size: 4rem;
    
}
/*---------*/
/*---------*/
/*---------*/
.sectionName {
    padding: 5% 10%;
    display: flex;
}
.sectionName p {
    color: rgb(255, 210, 0);
    font-size: rem;
}
.sectionName .hrShort {
    width: 20px;
    height: 1px;
    margin: 0.5rem 0.5rem;
    border-color: rgb(255, 210, 0);
}
.sectionName .hrLong {
    width: 50px;
    height: 1px;
    margin: 0.5rem 0.5rem;
    border-color: rgb(255, 210, 0);
}
/*---------*/
/*---------*/
/*---------*/
.about {
    background-image: linear-gradient(#000,rgb(2, 2, 2));
}
.aboutGrid {
    padding: 0% 10% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/*---------*/
.aboutText {
    padding-bottom: 5rem;
    grid-column: span 2;
}
.aboutText span {
    font-family: Orbitron;
    font-size: 2.5rem;
    transition: 0.5s;
}
.aboutText:hover span {
    font-family: Orbitron;
    font-size: 2.5rem;
    color: rgb(255, 210, 0);
}
.aboutText hr {
    width: 20%;
    margin: 2rem 0.5rem 1rem;
}
.aboutText p {
    font-size: 1rem;
    margin: 1rem 10rem 0rem 0rem;
}
.aboutText ul {
    margin-top: 20px;
    display: flex;
}
.aboutText ul li {
    display: flex;
    flex-direction: row;
}
.aboutText ul a {
    margin: 0px 10px;
    transition: 0.5s;
}
.aboutText ul a:hover {
    font-size: 0.8rem;
}
/*---------*/
.about h4 {
    margin-bottom: 40px;
}
.aboutSkills {
    
}
.aboutSkills p {
    margin-bottom: 0.5rem;
}
.skillBar_Outline {
    height: 0.2em;
    width: 80%;
    outline: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
}
.skillBar_25 {
    height: 0.2em;
    width: 25%;
    background-color: rgb(221, 70, 0);
    transition: 0.7s;
}
.skillBar_50 {
    height: 0.2em;
    width: 50%;
    background-color: rgb(255, 210, 0);
    transition: 0.7s;
}
.skillBar_90 {
    height: 0.2em;
    width: 90%;
    background-color: rgb(125, 221, 0);
    transition: 0.7s;
}
.aboutWork {
    
}
.aboutWork .myWork {
    width: 100%;
    height: 17rem;
    background-color: rgba(255, 255, 255, 0.1);
}
/*---------*/
/*---------*/
/*---------*/
.services {
    background-image: linear-gradient(#000,rgb(2, 2, 2));
}
/*---------*/
.servicesText {
    padding: 0% 10%;
}
.servicesText span {
    font-family: Orbitron;
    font-size: 2.5rem;
    transition: 0.5s;
}
.servicesText:hover span {
    font-family: Orbitron;
    font-size: 2.5rem;
    color: rgb(255, 210, 0);
}
.servicesText hr {
    width: 20%;
    margin: 2rem 0.5rem 1rem;
}
.servicesText p {
    font-size: 1rem;
    margin: 1rem 10rem 0rem 0rem;
}
/*---------*/
.servicesGrid {
    padding: 5% 10% 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}
@media (max-width: 1400px) {
    .servicesGrid {
        display: flex;
        flex-wrap: wrap;
    }
}
.serv {
    background-color: rgba(255, 255, 255, 0.02);
    border-radius: 0.5rem;
    padding: 2rem;
}
.servGrid {
    display: flex;
    gap: 1rem;
}
.servGrid img {
    max-height: 50px;
    max-width: 50px;
    grid-column: span 1;
}
.servGridText {
    white-space: nowrap;
    grid-column: span 4;
}
.serv a {
    font-size: 0.8rem;
    color: rgb(255, 210, 0);
}
.serv:hover a {
    text-decoration: underline;
}
.serv p {
    font-size: 1rem;
    margin-top: 2rem;
}
/*---------*/
/*---------*/
/*---------*/
.testimonials {
    background-image: linear-gradient(#000,rgb(2, 2, 2));
}
.testimonialsGrid {
    padding: 0% 10% 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}
@media (max-width:1000px) {
    .testimonialsGrid {
        padding: 0% 10% 10%;
        display: flex;
        flex-wrap: wrap;
    }
}
.test {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 2rem;
}
.test span {
    font-size: 0.5rem;
    color: rgb(255, 210, 0);
}
/*---------*/
.footer {
    position: fixed;
    bottom: 0;
    height: 3rem;
    width: 100%;
    background-color: black;
    padding: 10px 10px;
}